$main-font-family: 'Roboto', sans-serif;
$main-font-size: 14px;
$padding: 16px;

$border-radius: 4px;

$light-grey-background: #e5e5e5;
$light-yellow-bg: #f7f2a7;
$light-grey-bg: #f7f7f7;
$light-white-bg: #ffffff;